
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
/* Definindo variável para a fonte */
:root {
    --font-family: Arial, sans-serif;
  }

/* Estilos adicionais para o menu */
#menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  padding: 30px; /* Aumenta o padding interno do menu */
  border: 1px solid #ccc;
  z-index: 10; /* Para garantir que o menu apareça sobre outros elementos */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Define a largura do menu */
  max-width: 400px; /* Define a largura máxima do menu */
}

#menu-toggle {
  font-size: 5.5rem; /* Aumenta o tamanho do ícone do hambúrguer */
  padding: 65px; /* Aumenta o tamanho do botão */
  line-height: 0; /* Remove espaço extra ao redor do ícone */
  position: absolute;
  top: 10%;
  right: 5%;
  transform: translateY(-50%);
  display: block; /* Mostra o botão do menu */
}

#menu-toggle span {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

#menu-toggle span::before {
  content: '';
  position: absolute;
  width: 5px; /* Aumenta a largura do traço vertical */
  height: 30px; /* Ajusta a altura do traço vertical */
  background-color: #0f0e0e; /* Cor dos traços */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
  transition: all 0.2s;
}

#menu-toggle.open span::before {
  transform: rotate(45deg);
}

#menu-toggle.open span::after {
  transform: rotate(-45deg);
}

#menu a {
  display: block;
  margin-bottom: 20px; /* Aumenta o espaçamento entre os itens do menu */
  color: #333333;
  text-decoration: none;
}

#menu a:hover {
  color: #000000;
}

/* Estilos adicionais para o overlay */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

/* Background com imagem */
body {
  background-color: #f3f4f6; /* Cor de fundo */
  font-family: var(--font-family);
}

/* Estilos adicionais para dispositivos móveis */
@media (max-width: 768px) {
  #menu {
    width: 90%; /* Ajusta a largura do menu para dispositivos móveis */
  }

  #menu-toggle {
    display: block; /* Mostra o botão de menu para dispositivos móveis */
  }
}

/* Estilos adicionais para a div do menu com imagem de background */
.container {
  position: relative;
  display: flex; /* Display flex para alinhar os itens horizontalmente */
  align-items: center; /* Alinha os itens verticalmente */
  justify-content: center; /* Centraliza os itens horizontalmente */
  height: 100vh; /* Define a altura como 100% da viewport */
}

#texto {
  text-align: center; /* Centraliza o texto horizontalmente */
  color: black;
  font-size: 18px; /* Tamanho do texto */
  width: 50%; /* Largura do texto */
  border-left: 0px solid #ccc; /* Adiciona borda à esquerda */
  padding-left: 20px; /* Adiciona espaço à esquerda do texto */
}

#texto p:last-child {
  font-size: 14px; /* Tamanho do último parágrafo */
}

.nome{
    font-size: x-large;
}
#banner {
  text-align: center;
  margin-top: 10px; /* Espaçamento entre o parágrafo e o banner */
  width: 50%; /* Largura da imagem */
  border-right: 3px solid #ccc; /* Adiciona borda à direita */
  padding-right: 20px; /* Adiciona espaço à direita da imagem */
}

#banner img {
  width: 100%;
  max-width: 350px; /* Largura máxima do banner */
  height: 190px;
}

/* Estilos para o ícone de seta */
.arrow-icon {
  position: absolute;
  bottom: 20px; /* Distância do ícone ao fundo da página */
  left: 50%;
  transform: translateX(-50%);
  animation: moveDown 0.5s infinite alternate; /* Animação para mover para baixo */
}

/* Estilo para a imagem do ícone de seta */
.arrow-icon img {
  width: 50px; /* Largura da imagem */
}

/* Animação para mover para baixo */
@keyframes moveDown {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 10px);
  }
}


 /* Estilos para a section */
 section {
    width: 100%; /* Largura da section */
    height: 200px; /* Altura da section */
    margin: 0px auto; /* Margem para centralizar */
    background: linear-gradient(to bottom, #cccccc, #999999); /* Fundo degradê cinza */
    padding: 20px; /* Espaçamento interno */
  }

  h2{
    font-size: xx-large;
    text-align: center;
  }
  .fale{
    width: 300px;
    margin: 0 auto;
  }